/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/bg-org-dragonballs.png) no-repeat center center/ cover;
}

.container {
    width: 700px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    color: black;
    padding: 0 0 10px 0;
}

.main-content {
    width: 100%;
    height: 300px;
    background-color: #f85b1a;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 0 10px;
    border: solid 5px #072083;
}

.main-content .text-area {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #fff;
}

.main-content .person {
    font-size: 1.6rem;
    font-weight: bold;
    color: #072083;
    text-transform: uppercase;
    margin-top: 20px;
}

.main-content .character {
    margin-top: 20px;
}

.button-area button {
    background-color: #189e1e;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 10px;
    border: solid 2px #189e1e;
    border-radius: 10px;
}

.button-area button:active {
    background-color: lightblue;
}

